<a href="https://colab.research.google.com/github/Tanisha2054/DV-Task1/blob/main/dvtask2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns

In [11]:
df=pd.read_csv('/content/tested.csv')

In [12]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [13]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [15]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,0,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,1,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,0,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,0,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S

In [16]:
df.tail(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
408,1300,1,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,1,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,1,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
412,1304,1,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [17]:
df.dropna(
)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
14,906,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
24,916,1,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
26,918,1,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
28,920,0,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
...,...,...,...,...,...,...,...,...,...,...,...,...
404,1296,0,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
405,1297,0,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
407,1299,0,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
411,1303,1,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C

In [18]:
df.dropna(inplace = True)

print(df.to_string())

     PassengerId  Survived  Pclass                                                             Name     Sex   Age  SibSp  Parch         Ticket      Fare            Cabin Embarked
12           904         1       1                    Snyder, Mrs. John Pillsbury (Nelle Stevenson)  female  23.0      1      0          21228   82.2667              B45        S
14           906         1       1          Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)  female  47.0      1      0    W.E.P. 5734   61.1750              E31        S
24           916         1       1                  Ryerson, Mrs. Arthur Larned (Emily Maria Borie)  female  48.0      1      3       PC 17608  262.3750  B57 B59 B63 B66        C
26           918         1       1                                     Ostby, Miss. Helene Ragnhild  female  22.0      0      1         113509   61.9792              B36        C
28           920         0       1                                          Brady, Mr. John Bertram    male  41.0      0      0         113054   30.5000              A21        S
34           926         0       1                                         Mock, Mr. Philipp Edmund    male  30.0      1      0          13236   57.7500              C78        C
44           936         1       1                 Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)  female  45.0      1      0          11753   52.5542              D19        S
46           938         0       1                                         Chevre, Mr. Paul Romaine    male  45.0      0      0       PC 17594   29.7000               A9        C
48           940         1       1                  Bucknell, Mrs. William Robert (Emma Eliza Ward)  female  60.0      0      0          11813   76.2917              D15        C
50           942         0       1                                         Smith, Mr. Lucien Philip    male  24.0      1      0          13695   60.0000              C31        S
53           945         1       1                                       Fortune, Miss. Ethel Flora  female  28.0      3      2          19950  263.0000      C23 C25 C27        S
57           949         0       3                                    Abelseth, Mr. Olaus Jorgensen    male  25.0      0      0         348122    7.6500            F G63        S
59           951         1       1                                      Chaudanson, Miss. Victorine  female  36.0      0      0       PC 17608  262.3750              B61        C
64           956         0       1                                      Ryerson, Master. John Borie    male  13.0      2      2       PC 17608  262.3750  B57 B59 B63 B66        C
68           960         0       1                                  Tucker, Mr. Gilbert Milligan Jr    male  31.0      0      0           2543   28.5375              C53        C
69           961         1       1                              Fortune, Mrs. Mark (Mary McDougald)  female  60.0      1      4          19950  263.0000      C23 C25 C27        S
73           965         0       1                                  Ovies y Rodriguez, Mr. Servando    male  28.5      0      0       PC 17562   27.7208              D43        C
74           966         1       1                                             Geiger, Miss. Amalie  female  35.0      0      0         113503  211.5000             C130        C
75           967         0       1                                               Keeping, Mr. Edwin    male  32.5      0      0         113503  211.5000             C132        C
77           969         1       1             Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)  female  55.0      2      0          11770   25.7000             C101        S
81           973         0       1                                               Straus, Mr. Isidor    male  67.0      1      0       PC 17483  221.7792          C55 C57        S
92           984         1       1                             Davidson, Mrs. Thornton (Orian Hays)  female  27.0      1      2     F.C. 12750   52.0000              B71        S
96           988         1       1           Cavendish, Mrs. Tyrell William (Julia Florence Siegel)  female  76.0      1      0          19877   78.8500              C46        S
100          992         1       1              Stengel, Mrs. Charles Emil Henry (Annie May Morris)  female  43.0      1      0          11778   55.4417             C116        C
109         1001         0       2                                                Swane, Mr. George    male  18.5      0      0         248734   13.0000                F        S
112         1004         1       1                                         Evans, Miss. Edith Corse  female  36.0      0      0       PC 17531   31.6792              A29        C
114         1006         1       1                           Straus, Mrs. Isidor (Rosalie Ida Blun)  female  63.0      1      0       PC 17483  221.7792          C55 C57        S
117         1009         1       3                                  Sandstrom, Miss. Beatrice Irene  female   1.0      1      1        PP 9549   16.7000               G6        S
118         1010         0       1                                             Beattie, Mr. Thomson    male  36.0      0      0          13050   75.2417               C6        C
122         1014         1       1                                  Schabert, Mrs. Paul (Emma Mock)  female  35.0      1      0          13236   57.7500              C28        C
131         1023         0       1                                        Gracie, Col. Archibald IV    male  53.0      0      0         113780   28.5000              C51        C
142         1034         0       1                                       Ryerson, Mr. Arthur Larned    male  61.0      1      3       PC 17608  262.3750  B57 B59 B63 B66        C
150         1042         1       1                            Earnshaw, Mrs. Boulton (Olive Potter)  female  23.0      0      1          11767   83.1583              C54        C
156         1048         1       1                                                Bird, Miss. Ellen  female  29.0      0      0       PC 17483  221.7792              C97        S
158         1050         0       1                                         Borebank, Mr. John James    male  42.0      0      0         110489   26.5500              D22        S
166         1058         0       1                                               Brandeis, Mr. Emil    male  48.0      0      0       PC 17591   50.4958              B10        C
177         1069         0       1                                  Stengel, Mr. Charles Emil Henry    male  54.0      1      0          11778   55.4417             C116        C
178         1070         1       2                 Becker, Mrs. Allen Oliver (Nellie E Baumgardner)  female  36.0      0      3         230136   39.0000               F4        S
179         1071         1       1            Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)  female  64.0      0      2       PC 17756   83.1583              E45        C
181         1073         0       1                                 Compton, Mr. Alexander Taylor Jr    male  37.0      1      1       PC 17756   83.1583              E52        C
182         1074         1       1   Marvin, Mrs. Daniel Warner (Mary Graham Carmichael Farquarson)  female  18.0      1      0         113773   53.1000              D30        S
184         1076         1       1             Douglas, Mrs. Frederick Charles (Mary Helene Baxter)  female  27.0      1      1       PC 17558  247.5208          B58 B60        C
196         1088         0       1                                  Spedden, Master. Robert Douglas    male   6.0      0      2          16966  134.5000              E34        C
202         1094         0       1                                           Astor, Col. John Jacob    male  47.0      1      0       PC 17757  227.5250          C62 C64        C
208         1100         1       1                                    Rosenbaum, Miss. Edith Louise  female  33.0      0      0       PC 17613   27.7208              A11        C
215         1107         0       1                                            Head, Mr. Christopher    male  42.0      0      0         113038   42.5000              B11        S
218         1110         1       1                     Widener, Mrs. George Dunton (Eleanor Elkins)  female  50.0      1      1         113503  211.5000              C80        C
222         1114         1       2                                       Cook, Mrs. (Selena Rogers)  female  22.0      0      0    W./C. 14266   10.5000              F33        S
234         1126         0       1                                        Cumings, Mr. John Bradley    male  39.0      1      0       PC 17599   71.2833              C85        C
236         1128         0       1                                         Warren, Mr. Frank Manley    male  64.0      1      0         110813   75.2500              D37        C
239         1131         1       1                      Douglas, Mrs. Walter Donald (Mahala Dutton)  female  48.0      1      0       PC 17761  106.4250              C86        C
242         1134         0       1                                     Spedden, Mr. Frederic Oakley    male  45.0      1      1          16966  134.5000              E34        C
245         1137         0       1                                          Kenyon, Mr. Frederick R    male  41.0      1      0          17464   51.8625              D21        S
252         1144         0       1                                         Clark, Mr. Walter Miller    male  27.0      1      0          13508  136.7792              C89        C
270         1162         0       1                                     McCaffry, Mr. Thomas Francis    male  46.0      0      0          13050   75.2417               C6        C
272         1164         1       1                    Clark, Mrs. Walter Miller (Virginia McDowell)  female  26.0      1      0          13508  136.7792              C89        C
287         1179         0       1                                       Snyder, Mr. John Pillsbury    male  24.0      1      0          21228   82.2667              B45        S
293         1185         0       1                                            Dodge, Dr. Washington    male  53.0      1      1          33638   81.8583              A34        S
305         1197         1       1       Crosby, Mrs. Edward Gifford (Catherine Elizabeth Halstead)  female  64.0      1      1         112901   26.5500              B26        S
306         1198         0       1                             Allison, Mr. Hudson Joshua Creighton    male  30.0      1      2         113781  151.5500          C22 C26        S
308         1200         0       1                                       Hays, Mr. Charles Melville    male  55.0      1      1          12749   93.5000              B69        S
314         1206         1       1                            White, Mrs. John Stuart (Ella Holmes)  female  55.0      0      0       PC 17760  135.6333              C32        C
316         1208         0       1                                    Spencer, Mr. William Augustus    male  57.0      1      0       PC 17569  146.5208              B78        C
321         1213         0       3                                            Krekorian, Mr. Neshan    male  25.0      0      0           2654    7.2292            F E57        C
322         1214         0       2                                               Nesson, Mr. Israel    male  26.0      0      0         244368   13.0000               F2        S
326         1218         1       2                                     Becker, Miss. Ruth Elizabeth  female  12.0      2      1         230136   39.0000               F4        S
331         1223         0       1                                     Dulles, Mr. William Crothers    male  39.0      0      0       PC 17580   29.7000              A18        C
335         1227         0       1                                         Maguire, Mr. John Edward    male  30.0      0      0         110469   26.0000             C106        S
343         1235         1       1  Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)  female  58.0      0      1       PC 17755  512.3292      B51 B53 B55        C
350         1242         1       1                     Greenfield, Mrs. Leo David (Blanche Strouse)  female  45.0      0      1       PC 17759   63.3583          D10 D12        C
355         1247         0       1                                         Julian, Mr. Henry Forbes    male  50.0      0      0         113044   26.0000              E60        S
356         1248         1       1                   Brown, Mrs. John Murray (Caroline Lane Lamson)  female  59.0      2      0          11769   51.4792             C101        S
364         1256         1       1                     Harder, Mrs. George Achilles (Dorothy Annan)  female  25.0      1      0          11765   55.4417              E50        C
371         1263         1       1                                        Wilson, Miss. Helen Alice  female  31.0      0      0          16966  134.5000          E39 E41        C
372         1264         0       1                                          Ismay, Mr. Joseph Bruce    male  49.0      0      0         112058    0.0000      B52 B54 B56        S
374         1266         1       1                            Dodge, Mrs. Washington (Ruth Vidaver)  female  54.0      1      1          33638   81.8583              A34        S
378         1270         0       1                                      Hipkins, Mr. William Edward    male  55.0      0      0            680   50.0000              C39        S
390         1282         0       1                                       Payne, Mr. Vivian Ponsonby    male  23.0      0      0          12749   93.5000              B24        S
391         1283         1       1                   Lines, Mrs. Ernest H (Elizabeth Lindsey James)  female  51.0      0      1       PC 17592   39.4000              D28        S
395         1287         1       1                   Smith, Mrs. Lucien Philip (Mary Eloise Hughes)  female  18.0      1      0          13695   60.0000              C31        S
397         1289         1       1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli)  female  48.0      1      1          13567   79.2000              B41        C
400         1292         1       1                                          Bonnell, Miss. Caroline  female  30.0      0      0          36928  164.8667               C7        S
404         1296         0       1                                     Frauenthal, Mr. Isaac Gerald    male  43.0      1      0          17765   27.7208              D40        C
405         1297         0       2                     Nourney, Mr. Alfred (Baron von Drachstedt")"    male  20.0      0      0  SC/PARIS 2166   13.8625              D38        C
407         1299         0       1                                       Widener, Mr. George Dunton    male  50.0      1      1         113503  211.5000              C80        C
411         1303         1       1                  Minahan, Mrs. William Edward (Lillian E Thorpe)  female  37.0      1      0          19928   90.0000              C78        Q
414         1306         1       1                                     Oliva y Ocana, Dona. Fermina  female  39.0      0      0       PC 17758  108.9000             C105        C

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 12 to 414
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  87 non-null     int64
 1   Survived     87 non-null     int64
 2   Pclass       87 non-null     int64
 3   Name         87 non-null     object
 4   Sex          87 non-null     object
 5   Age          87 non-null     float64
 6   SibSp        87 non-null     int64
 7   Parch        87 non-null     int64
 8   Ticket       87 non-null     object
 9   Fare         87 non-null     float64
 10  Cabin        87 non-null     object
 11  Embarked     87 non-null     object
dtypes: float64(2), int64(5), object(5)
memory usage: 8.8+ KB

In [20]:
print(df.duplicated())

12     False
14     False
24     False
26     False
28     False
       ...
404    False
405    False
407    False
411    False
414    False
Length: 87, dtype: bool

In [21]:
df.drop_duplicates(inplace = True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 12 to 414
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  87 non-null     int64
 1   Survived     87 non-null     int64
 2   Pclass       87 non-null     int64
 3   Name         87 non-null     object
 4   Sex          87 non-null     object
 5   Age          87 non-null     float64
 6   SibSp        87 non-null     int64
 7   Parch        87 non-null     int64
 8   Ticket       87 non-null     object
 9   Fare         87 non-null     float64
 10  Cabin        87 non-null     object
 11  Embarked     87 non-null     object
dtypes: float64(2), int64(5), object(5)
memory usage: 8.8+ KB

In [23]:
df.corr()

<ipython-input-23-2f6f6606aa2c>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.058260,0.004934,0.055488,-0.087828,-0.122551,-0.097346
Survived,-0.058260,1.000000,-0.056699,0.022983,0.170596,0.181554,0.179047
Pclass,0.004934,-0.056699,1.000000,-0.410924,-0.132790,0.006411,-0.298186
Age,0.055488,0.022983,-0.410924,1.000000,0.062530,0.051144,0.180567
SibSp,-0.087828,0.170596,-0.132790,0.062530,1.000000,0.252194,0.213014
Parch,-0.122551,0.181554,0.006411,0.051144,0.252194,1.000000,0.395685
Fare,-0.097346,0.179047,-0.298186,0.180567,0.213014,0.395685,1.000000

The above is the Titanic dataset analysis.The data is initially displayed without performing any operations. Null values/cloumns from the data have been dropped. Duplicates have been recognised and duplicate columns have been dropped.The dataset initially consisted of 418 entries but after all the cleaning operations the dataset now contains 87 entries.Lastly, the correlation between the columns has been displayed where '1' represents a perfect correlation.